<!doctype html>
<html>
    <head>
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type = "text/css" href = "base.css">
    </head>
    <body>
        <h1 class="center text-center">
            Give 'n Get
        </h1>
        <br>
        <div class="text-center">
            <h1>I want to:</h1>

          <button class="text-center ml-3">Give</button>
          <button class="text-center mt-2">Get</button>

          <br>
          <input class="text-center mt-2">
          <br>
        </div>
        
    </body>
</html>    